body {
  /* 기본(공통) 스타일 */
  font-family: Pretendard, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn-white {
  height: 68px;
  border-radius: 34px;
  padding: 16px 80px;
  line-height: 68px;
  font-size: 24px;
  background-color: #fff;
  z-index: 10;
  font-weight: 500;
  box-sizing: border-box;
  color: #000;
  vertical-align: middle;
  transition: 0.5s;
}

.btn-black {
  height: 68px;
  border-radius: 34px;
  padding: 16px 80px;
  line-height: 68px;
  font-size: 24px;
  background-color: #000;
  z-index: 10;
  font-weight: 500;
  box-sizing: border-box;
  color: #fff;
  vertical-align: middle;
  transition: 0.5s;
}

.font-106-700 {
  font-size: 106px;
  font-weight: 700;
}

.font-60-700 {
  font-size: 60px;
  font-weight: 700;
}

.font-24-500 {
  font-size: 24px;
  font-weight: 500;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-12 {
  margin-top: 12px;
}
.margin-top-24 {
  margin-top: 24PX;
}
.margin-top-32 {
  margin-top: 32px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-48 {
  margin-top: 48px;
}


.visual-inner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 104px;
  position: relative;
  box-sizing: border-box;
}


.header {
  padding: 22px 3.1545741325vw;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 1s;
}

.header.hidden {
  transform: translateY(-100px);
  transition: 1s;
  
}

.header .header__inner {
  position: relative;
  display: flex;
  max-width: 1783px;
  height: 84px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 39px;
  padding: 0 39px;
  align-items: center;
  box-sizing: border-box;
}

.header .header__inner .header__nav {
  display: flex;
  margin-left: 113px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.header .header__inner .header__nav .header__nav__menu {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .header__nav__menu__item {
  height: 100%;
  align-items: center;
  display: flex;
}

.header .header__nav__menu__item > a {
  font-weight: 500;
  font-size: 18px;
  color: black;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

.header .header__nav__menu__item.has-sub > a::after {
content: "";
display: inline-block;
width: 24px;
height: 24px;
background: url(/image/icon-arrow-down.svg);
}

.header .header__nav__menu li + li {
  margin-left: 25px
}

.header .header__nav__menu__item div.item-sub {
  position: absolute;
  top: 72px;
  width: 288px;
  padding: 24px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  display: none;
}

.header .header__nav__menu__item div.item-sub > a {
  padding: 8px 20px;
  border-radius: 8px;
  color: #000;
  font-weight: 700;
  transition: all .25s ease-out;
  background-color: #fff;
}

.header .header__nav__menu__item div.item-sub > a + a {
  margin-top: 12px;
}




/* 메뉴 hover 되었을 때 */
.header .header__nav__menu__item > a:hover {
  color: #3067ec;
}

.header .header__nav__menu__item > a:hover::after {
  background: url(/image/icon-arrow-up-blue.svg)
}

.header .header__nav__menu__item:hover > .item-sub {
  display: flex;
}

.header .header__nav__menu__item div.item-sub > a:hover {
  background-color: #f4f4f4;
}

/* util 영역 */
.header .header__nav .header__nav__util {
  display: flex;
  align-items: center;
}

.header .header__nav .header__nav__util .header__nav__util-login {
  font-weight: 500;
  font-size: 18px;
  height: 46px;
  border-radius: 8px;
  padding: 0 10px;
  line-height: 46px;
  transition: 0.5s;
  color: black;
}

.header__nav__util-contact {
  width: 192px;
  height: 48px;
  margin-left: 24px;
  border-radius: 24px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  line-height: 44px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  transition: 0.5s;
  font-weight: 500;
  font-size: 18px;
}


.header__nav__util-contact:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
}

.header__nav__util-login:hover {
  background-color: #f4f4f4;
}

/* visual */
.visual {
  width: 1902px;
  height: 954px;
  margin: 0 auto;
  position: relative;
}

.visual__text-group {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

/* visual 01 영역 */
.visual .visual__01{
  background-image: url(/image/visual_bg_1.png);
  box-sizing: border-box;
  position: relative;
  width: 1902px;
  height: 954px;
}

.visual__01__app {
  display: flex;
  column-gap: 16px;
  margin-top: 48px;
}

.btn-app-apple {
  background-image: url("/image/btn-app-apple.svg");
  width: 270px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-app-google {
  background-image: url("/image/btn-app-google.svg");
  width: 285px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* visual 02 영역 */
.visual .visual__02 {
  background-image: url("/image/visual_bg_2.png");
  color: #fff;
}

/* visual 03 영역 */
.visual .visual__03 {
  background-image: url("/image/visual_bg_3.png");
  color: #000;
}

/* visual 04 영역 */
.visual .visual__04 {
  background-image: url("/image/visual_bg_4.png");
  color: #000;
}

/* visual 05 영역 */
.visual .visual__05 {
  background-image: url("/image/visual_bg_5.png");
  color: #000;
}

/* visual 06 영역 */
.visual .visual__06 {
  background-image: url("/image/visual_bg_6.png");
  color: #000;
}

/* visual pagination */
.visual .swiper-pagination {
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  background-color: #fff;
  margin: 0 12px !important;
}

.swiper-pagination-bullet-active {
  height: 16px;
  width: 16px;
  background-color: #fff;
}

/* bstage */
.bstage {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bstage .btn-black:hover {
  background-color: #3067ec;
  color: #fff;
}

.bstage .bstage__video {
  width: 1700px;
  height: 956px;
  margin-top: 120px;
}

.bstage .bstage__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 478px;
}

.bstage .bstage__object-circle {
  display: grid;
  grid-template-columns: 258px 258px; 
  grid-template-rows: 258px 258px;
  position: absolute;
  left: -115px;
  top: 75px;
}

.bstage .bstage__object-circle-item {
  background-color: #c4e5ae;
  border-radius: 50%;
}

.bstage .bstage__object-triangle {
  width: 0;
  height: 0;
  border-left: 558px solid transparent; 
  border-bottom: 558px solid #ffdaff;
  position: absolute;
  right: -142px;
  bottom: -233px;
}

.owners {
  margin-top: 260px;
}

.owners .owners-inner {
  max-width: 1902px;
  position: relative;
  margin: 0 auto;
}

.owners__items__01__drx {
  width: 420px;
  height: 420px;
  background-image: url(/image/owners_drx.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  clip-path: polygon(50% 0,93% 23%,93% 77%,50% 100%,7% 77%,7% 23%);
}